apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-rsmc
spec:
  template:
    metadata:
      labels:
        app: minecraft
        edition: rsmc
    spec:
      containers:
      - name: minecraft-rsmc
        env:
        - name: MEMORY
          value: "16G"
        - name: EULA
          value: "TRUE"
        - name: SERVER_NAME
          value: KryoMine
        - name: ALLOW_CHEATS
          value: "true"
        - name: LEVEL_NAME
          value: kryotek
        - name: VERSION
          value: "1.18.2"
        - name: TYPE
          value: "CURSEFORGE"
        - name: CF_BASE_DIR
          value: "/data"
        - name: CF_SERVER_MOD
          value: "RSMC_Official_1.0.0+0.5.0+921.zip"