apiVersion: v1
kind: Service
metadata:
  name: minecraft-java
spec:
  selector:
    app: minecraft
    edition: java
  type: NodePort
  ports:
    - protocol: TCP
      port: 25565
      targetPort: 25565